<mat-form-field appearance="standard">
    <mat-label>Ricerca Fattura</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Es. Rata INPS" #input>
</mat-form-field>

<div class="mat-elevation-z8">

    <div class="mat-elevation-z8">

        <table id="table-cont" mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
            <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
                <!-- se la colonna corrisp. e' === all'elem nell'array, nella colonna riporta un intestazione diversa -->
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <p *ngIf="column === displayedColumns[0]">ID Fattura: </p> <!-- dato attr dal json -->
                    <p *ngIf="column === displayedColumns[1]">Data: </p>
                    <p *ngIf="column === displayedColumns[2]">Scadenza: </p>
                    <p *ngIf="column === displayedColumns[3]">Importo: </p>
                </th>
                <!-- <td mat-cell *matCellDef="let element"> {{element[column]}} </td> -->

                <!-- per accedere ad elementi nested -->
                <td mat-cell *matCellDef="let ele">
                    <p *ngIf="column === displayedColumns[0]">{{ele.id}}</p>
                    <p *ngIf="column === displayedColumns[1]">{{ele.data}}</p>
                    <p *ngIf="column === displayedColumns[2]">{{ele.scadenza}}</p>
                    <p *ngIf="column === displayedColumns[3]">{{ele.importo}}</p>
                </td>


            </ng-container>

            <ng-container matColumnDef="expand">
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button aria-label="expand row"
                        (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                        <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                        <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- Dati da inserire nell'expandable -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let invoice" [attr.colspan]="columnsToDisplayWithExpand.length">
                    <div class="example-element-detail"
                        [@detailExpand]="invoice == expandedElement ? 'expanded' : 'collapsed'">
                        <div class="example-element-description">
                            <span id="title">--- Dati Fattura: ---</span>
                            <div class="container">
                                <p id="desc-cont">
                                    <span id="description">ID Fattura: </span>{{invoice.id}}
                                    <span id="description">ID Cliente: </span>{{invoice.idCliente}}
                                    <span id="description">Natura beni: </span>{{invoice.natura}}
                                    <span id="description">Quantita: </span>{{invoice.quantita}}
                                </p>
                            </div>

                            <div class="container">
                                <p id="desc-cont">
                                    <span id="description">Data Emissione: </span>{{invoice.data}}
                                    <span id="description">Scadenza pagamento: </span>{{invoice.scadenza}}
                                    <span id="description">Importo: € </span>{{invoice.importo}}
                                </p>
                            </div>
                            <!-- Button Rimuovi Fattura, Modifica Dati, Torna a client_list -->
                            <button mat-button (click)="removeInvoice(invoice.id)">
                                <mat-icon>delete</mat-icon>
                            </button>

                            <!-- Salvo dati dell'invoice nel sessionStorage -->
                            <button mat-button (click)="saveInvoice(invoice)">
                                <mat-icon>border_color</mat-icon>
                            </button>

                            <button mat-button (click)="printInvoice()">
                                <mat-icon>print</mat-icon>
                            </button>

                            <!-- =============== Sezione Print ================= -->

                            <div id="print-invoice" *ngIf="print===false; else elseBlock">
                                <p style="color: red">
                                    ///////////////////////////////////////////////////////////////</p>
                                <h1 style="font-weight: bold; color: red">FATTURA ELETTRONICA #{{invoice.id}}:</h1>

                                <table style="width: 100%;">

                                    <tr>
                                        <td style="font-size: 1.5em; width: 100%; border: 1px solid black">
                                            <b>ID Cliente:</b> {{parsedClient.id}}
                                            <b>Nome:</b> {{parsedClient.nomeCliente}}
                                            <b>Cognome:</b> {{parsedClient.cognomeCliente}}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="font-size: 1.5em; width: 100%; border: 1px solid black">
                                            <b>Ragione Sociale:</b> {{parsedClient.ragioneSociale}}
                                            <b>P.Iva:</b> {{parsedClient.partitaIva}}
                                            <b>Tipo Cliente:</b> {{parsedClient.tipoCliente}}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="font-size: 1.5em; width: 100%; border: 1px solid black">
                                            <b>Telefono:</b> {{parsedClient.telefono}}
                                            <b>Email:</b> {{parsedClient.email}}
                                            <b>Pec:</b> {{parsedClient.pec}}
                                        </td>
                                    </tr>
                                </table>

                                <br><br>

                                <table style="width: 100%;">

                                    <tr>
                                        <td style="border: 1px solid black;">
                                            <span style="color: black; float: left; font-size: 2em;">Natura beni:</span>
                                            <span
                                                style="color: black; float: right; font-size: 2em;">{{invoice.natura}}</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="border: 1px solid black;">
                                            <span style="color: black; float: left; font-size: 2em;">Quantita:</span>
                                            <span
                                                style="color: black; float: right; font-size: 2em;">{{invoice.quantita}}</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="border: 1px solid black;">
                                            <span style="color: black; float: left; font-size: 2em;">Data
                                                Emissione:</span>
                                            <span
                                                style="color: black; float: right; font-size: 2em;">{{invoice.data}}</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="border: 1px solid black;">
                                            <span style="color: black; float: left; font-size: 2em;">Data
                                                Scadenza:</span>
                                            <span
                                                style="color: black; float: right; font-size: 2em;">{{invoice.scadenza}}</span>
                                        </td>
                                    </tr>

                                </table>

                                <table style="width: 100%;">
                                    <tr>
                                        <td style="border: 2px solid red;">
                                            <span style="color: red; float: left; font-size: 2em;">Importo
                                                Totale:</span>
                                            <span style="color: red; float: right; font-size: 2em;">€
                                                {{invoice.importo}}</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <ng-template #elseBlock></ng-template>

                        </div>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">Nessuna fattura da mostrare</td>
            </tr>

        </table>

        <mat-paginator id="table-cont" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of invoices">
        </mat-paginator>
    </div>
</div>