.container {
    background: url('../../../../assets/img-login.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 155px;
    padding-bottom: 155px;
}