<form id="form-cont" #fInvoices="ngForm" [formGroup]="invoicesForm" (ngSubmit)="onSubmit()">

  <h2 id="title"><b>Form Aggiungi Fattura:</b></h2>

  <hr>

  <div class="details-cont">
    <mat-form-field appearance="fill">
      <mat-label>Descrizione</mat-label>
      <input matInput type="text" formControlName="descrizione">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Natura Bene/Servizio</mat-label>
      <input matInput type="text" formControlName="natura">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Quantita</mat-label>
      <input matInput type="number" formControlName="quantita">
    </mat-form-field>
  </div>

  <div class="details-cont">
    <mat-form-field appearance="fill">
      <mat-label>Data Emissione</mat-label>
      <input matInput type="date" formControlName="data">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Scadenza Pagamento</mat-label>
      <input matInput type="date" formControlName="scadenza">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Importo</mat-label>
      <input matInput type="number" formControlName="importo">
    </mat-form-field>
  </div>

  <div class="btn-submit">
    <button mat-button type="submit">Aggiungi</button>
  </div>

</form>

<div class="btn-cont">
  <button mat-button (click)="modInvoice(idInvoice)">Modifica Campi</button>
  <button mat-button (click)="clearFields()">Cancella Campi</button>
</div>