<mat-toolbar color="secondary" id="footer">
    <mat-toolbar-row>
        <div id="footer-details">
            App Fatture &copy; 2022 - Developed By
            <span>gi-ga-dev</span> using:
        </div>
    </mat-toolbar-row>

    <mat-toolbar-row>

        <div id="footer-icons">
            <span id="icons">
                <i class="fa-brands fa-bootstrap"></i>
                <i class="fa-brands fa-sass"></i>
                <i class="fa-brands fa-angular"></i>
                <i class="lni lni-nodejs"></i>
                <i class="fa-brands fa-github"></i>
            </span>
        </div>
    </mat-toolbar-row>
</mat-toolbar>