.example-container .mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}

.example-card {
    max-width: 400px;
    padding: 50px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    font-size: 0.7em;
}

:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    // dimensioni campi input
    width: 250px !important;
    //height: 40px !important;
}

:host ::ng-deep .mat-form-field-wrapper {
    // margine tra le righe di input
    margin-bottom: -15px !important;
}