
<div class="position-relative overflow-hidden text-center img_background d-flex justify-content-center align-items-center">
  <div class="col-md-5 p-lg-5 mx-auto my-5 middle_gradient d-flex justify-content-center align-items-center">
    <h1 class="display-4 fw-normal">LOGO</h1>
  </div>
</div>

<div class="container container_1">
  <div class="row">
    <div class="col-4">
      <h2> TRUST IS A GOOD BUSINESS PRACTICE </h2>
      <p>Jim Blasingame</p>
    </div>
    <div class="col-5">
      <div class="business_man_img"></div>
    </div>
    <div class="col d-flex flex-column">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore amet quam, possimus porro, quos cum consequuntur blanditiis quisquam minima harum odit ab repellendus eaque consequatur maiores dolorem, esse quo nulla.</p>
      <div class="small_square align-self-end"></div>
    </div>
  </div>
</div>

<div class="container_2">
  <img src="../../../assets/books-4812032.jpg" alt="">
  <div class="container d-flex">
    <mat-card>
      <div class="d-flex justify-content-center align-items-center">
        <mat-icon aria-label="Example home icon"> home </mat-icon>
        simple card 1
      </div>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe ipsa distinctio culpa odit eos aut, sunt recusandae qui perferendis quasi fugit. Nostrum repudiandae reiciendis amet! Libero tenetur necessitatibus debitis rem!</p>
    </mat-card>
    <mat-card> <div class="d-flex justify-content-center align-items-center"> <mat-icon>shop</mat-icon> simple card 2 </div> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam error maiores ab magni quis placeat repudiandae dolorem facilis culpa, dolore neque quisquam ratione sunt earum! Quidem ut ratione nulla alias.</p> </mat-card>
    <mat-card> <div class="d-flex justify-content-center align-items-center"> <mat-icon>store</mat-icon> simple card 3 </div> <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt saepe aliquam porro vitae nemo minus culpa veritatis, blanditiis quasi quae. Eligendi ipsam commodi voluptatem, dignissimos odio quae repudiandae esse dolore.</p> </mat-card>
    <mat-card> <div class="d-flex justify-content-center align-items-center"> <mat-icon>payment</mat-icon> simple card 4 </div> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas tempora architecto itaque, ullam animi vero modi ea esse consequatur vitae enim. Dolorum inventore rerum sit doloribus commodi officia voluptas porro.</p> </mat-card>
  </div>
</div>

