<div
  class="position-relative overflow-hidden text-center img_background d-flex justify-content-center align-items-center">
  <div class="col-md-5 p-lg-5 mx-auto my-5 middle_gradient d-flex justify-content-center align-items-center">
    <h1 class="display-4 fw-normal">App Fatture</h1>
  </div>
</div>

<div class="container_2">
  <div class="container d-flex">

    <mat-card>
      <div class="d-flex justify-content-center align-items-center">
        <mat-icon>mouse</mat-icon>
      </div>
      <mat-card-header>Invia e ricevi fatture in un click!</mat-card-header>
      <mat-card-subtitle>Crea preventivi, inviali ai tuoi clienti e e quando è il momento convertili in fatture
      </mat-card-subtitle>
    </mat-card>

    <mat-card>
      <div class="d-flex justify-content-center align-items-center">
        <mat-icon>person_pin</mat-icon>
      </div>
      <mat-card-header>Invia automaticamente al commercialista</mat-card-header>
      <mat-card-subtitle>Con un click invii al tuo commercialista tutti i tuoi documenti fiscali</mat-card-subtitle>
    </mat-card>

    <mat-card>
      <div class="d-flex justify-content-center align-items-center">
        <mat-icon>loyalty</mat-icon>
      </div>
      <mat-card-header>Conservazione dati per oltre 10 anni</mat-card-header>
      <mat-card-subtitle>Ci pensiamo noi alle tue fatture elettroniche, non andiamo da nessuna parte!
      </mat-card-subtitle>
    </mat-card>

  </div>
</div>